.carousel-container {
	overflow: 				hidden;
	position:               relative;
}

.carousel-slider {
	display: 				flex;
	flex-flow: 				row nowrap;
	width: 					500%;
}

.carousel-slide {
	flex: 					1;
	transition: 			all 0.5s ease-in-out;
}

.carousel-slide img {
	width:					100%;
	max-width:				1920px;
	object-fit: 			contain;
	display: 				block;
	margin-left: 			auto;
	margin-right: 			auto;
}

.btn.btn-next,
.btn.btn-prev
{
	position: 				absolute;
	width: 					40px;
	height: 				40px;
	padding: 				10px;
	border: 				none;
	border-radius: 			50%;
	z-index: 				5;
	cursor: 				pointer;
	background-color: 		#fff;
	color:					black;
	border:                 1px solid rgb(230, 230, 230);
	font-size: 				18px;
}

.btn:active {
	transform: 				scale(1.1);
}

.btn-prev {
	top: 					45%;
	left: 					2%;
}

.btn-next {
	top: 					45%;
	right: 					2%;
}

.carousel-container .gradient {
    background: 			linear-gradient(180deg, transparent, rgb(220, 220, 220));
    bottom: 				0;
    height: 				0%;
    left: 					0;
    position: 				absolute;
    width: 					100%;
}