.login-container {
    margin:                     0;
    padding:                    0;
    height:                     100vh;
    display:                    flex;
    justify-content:            center;
    align-items:                center;
}

.login-panel {
    display:                    flex;
    width:                      100%;
    max-width:                  600px;
    margin:                     0 20px;
    min-height:                 450px;
    box-shadow:                 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
    transform:                  translateY(-200%);
    animation-name:             slide-in;
    animation-duration:         1s;
    animation-timing-function:  cubic-bezier(0.645, 0.045, 0.355, 1);
    animation-fill-mode:        forwards;
    border-radius:              8px;
    overflow:                   hidden;
}

.modal-login-panel {
    box-sizing:                 border-box;
    display: 					flex;
    flex-direction:             row;
	position: 					relative;
	top:                        50%;
    left:                       50%;
    transform:                  translate(-50%, -50%);
	box-shadow: 			    0 4px 8px 0 rgba(0,0,0,0.2),0 6px 20px 0 rgba(0,0,0,0.19);
	
	/* DEFAULT SETTINGS */
	width:						650px;
    max-width:                  calc(100vw - 50px);
    min-height:                 450px;
    border-radius:              8px;
    overflow:                   hidden;
}

/*
.modal .modalClose {
    font-size:                  1.2rem;
    color:                      black;
    position:                   absolute;
    right:                      25px;
    top:                        25px;
}
*/

.left-panel, .right-panel {
    display:                    flex;
    flex-direction:             column;
    justify-content:            space-between;
    padding:                    20px;
    box-sizing:                 border-box;
}

.left-panel {
    width:                      55%;
    background-color:           white;
    justify-content:            space-between;
}

.left-panel input {
    background-color:           #eee;
}

.left-panel h1 {
    text-align:                 center;
}

.left-panel p, .left-panel a {
    margin:                     0;
}

.left-panel span {
    color:                      #5ca4d1;
}

.right-panel {
    flex:                       1;
    display:                    flex;
    flex-direction:             column;
    justify-content:            center;
    background:                 linear-gradient(to right, #FF4B2B, #FF416C);
    background-repeat:          no-repeat;
    background-size:            cover;
    background-position:        0 0;
    color:                      white;
    text-align:                 center;
}

h1, h2 {
    margin:                     0;
}

@keyframes slide-in {
    from {
        transform:              translateY(-200%);
    }
    to {
        transform:              translateY(0);
    }
}

@media (max-width: 600px) {
    .login-panel {
        flex-direction:     column;
        margin:             0 50px;
    }

    .right-panel {
        display:            none;
    }

    .left-panel {
        flex:               1;
        width:              100%;
    }
}