.newsletter {
	border-top: 					1px solid rgb(200,200,200);
}

.newsletter-container {
	display:						flex;
	flex-flow: 						column nowrap;
	justify-content: 				space-between;
	align-items: 					center;
	gap: 							30px;
	margin:							0 auto;
	max-width:						var(--containers-max-width);
	padding:						30px;
}

.newsletter-container p {
	font-size:						16px;
	margin:							0;
}

.newsletter-suscription-bar {
	width:							60%;
	display:						flex;
	flex-flow: 						row nowrap;
}

.newsletter-suscription-bar input {
	text-indent: 					10px;
	flex-grow:						1;
}

.newsletter-suscription-bar button {
	width:							120px;
    border-radius:                  unset;
}

.newsletter-follow {
	display: 						flex;
	flex-flow: 						row nowrap;
	justify-content:	 			center;
	gap: 							20px;
}

.newsletter-follow > div {
	display: 						flex;
	flex-flow: 						row nowrap;
	justify-content: 				center;
	align-items: 					center;
	height:							40px;
	width:							40px;
	font-size: 						22px;
	border:							1px solid #E4E7ED;
}

.newsletter-follow a {
	color:							rgb(36,84,189);
}