@import url("/assets/css/framework/normalize.css");
@import url("/assets/css/framework/scrollbar.css");
@import url("/assets/css/framework/backToTop.css");
@import url("/assets/css/framework/links.css");
@import url("/assets/css/framework/formControls.css");
@import url("/assets/css/framework/layout.css");
@import url("/assets/css/framework/breadcrumb.css");

@import url("../fonts.css");

@import url("navbar.css");

:root {
    --containers-max-width:     	1680px;
    --containers-side-padding:		10px;
}

html {
    background-color:				(240,240,240);
}

body {
    font-size:                      13px;
    font-family:                    'Open Sans', sans-serif;
    color:                      	#2f2f2f;
    min-height:                     100vh;
    display:                        flex;
    flex-flow:                      column nowrap;

}

.main-container {
    flex:                           1;
    margin:                         0 auto;
    -webkit-box-sizing:             border-box;
            box-sizing:             border-box;
    display:                        -webkit-box;
    display:                        -ms-flexbox;
    display:                        flex;
    -webkit-box-orient:             vertical;
    -webkit-box-direction:          normal;
        -ms-flex-direction:         column;
            flex-direction:         column;
    gap:                            30px;
    width:                          100%;
    max-width:                      var(--containers-max-width);
    padding:                        20px var(--containers-side-padding);
    -webkit-animation-name: 		fade-in;
            animation-name: 		fade-in;
	-webkit-animation-duration: 	0.5s;
            animation-duration: 	0.5s;
}

.main-container h1 {
    font-size:                      1.5rem;
    margin:                         0;
}

.container {
    margin:                         0 auto;
    padding:                        var(--containers-side-padding);
    max-width:                      var(--containers-max-width);
    -webkit-box-sizing:             border-box;
            box-sizing:             border-box;
}

.img-preview {
	position: 						absolute;
	top: 							0;
	bottom: 						0;
	width: 							100%;
	display: 						flex;
	align-items: 					center;
	justify-content: 				center;
	background: 					#ccc;
	border: 						1px solid gray;
}

label.fileUpload {
	display: 						inline-block;
	position: 						relative;
	height: 						400px;
	width: 							100%;
}