table {
    background:         rgb(247, 247, 247);
    border-collapse:    collapse;
}

table thead,
table tbody {
    border:             1px solid rgb(200,200,200);
}

table th,
table td {
    vertical-align:     middle;
}

table th {
    padding:            20px 10px;
    text-align:         left;
    text-transform:     uppercase;
    font-size:          14px;
}

table td {
    padding:            10px;
}

table tbody tr:hover {
    background-color:   rgba(0, 0, 0, 0.04);
}

table tr:nth-child(2n+1) td {
    background-color:   rgba(180, 180, 180, 0.1);
}

@media (max-width: 1024px) {

    /* Force table to not be like tables anymore */
    table,
    thead,
    tbody,
    th,
    td,
    tr {
        display: block;
    }

    /* Hide table headers */
    thead tr {
        display: none;
    }

    tr {
        border: 1px solid #ccc;
    }

    td {
        /* Behave  like a "row" */
        border: none;
        border-bottom: 1px solid #eee;
        position: relative;
        padding-left: 50%;
    }

    td:before {
        /* Now like a table header */
        position: absolute;
        /* Top/left values mimic padding */
        top: 6px;
        left: 6px;
        width: 45%;
        padding-right: 10px;
        white-space: nowrap;
    }
}