/*
* Prefixed by https://autoprefixer.github.io
* PostCSS: v8.4.14,
* Autoprefixer: v10.4.7
* Browsers: last 100 version
*/

.flex {
    display:						-webkit-box;
    display:						-ms-flexbox;
    display:						-webkit-flex;
    display:						-moz-box;
    display:						flex;
    gap:                            20px;
}

.flex-col {
    display:						-webkit-box;
    display:						-ms-flexbox;
    display:						-webkit-flex;
    display:						-moz-box;
    display:						flex;
	-webkit-box-orient:				vertical;
	-webkit-box-direction:			normal;
	    -ms-flex-direction:			column;
	        -webkit-flex-direction:	column;
	           -moz-box-orient:		vertical;
	           -moz-box-direction:	normal;
	        flex-direction:			column;
    gap:                            20px;
}

.justify-center {
    -webkit-box-pack:               center;
        -ms-flex-pack:              center;
            -webkit-justify-content:center;
               -moz-box-pack:       center;
            justify-content:        center;
}

.justify-between {
    -webkit-box-pack:               justify;
        -ms-flex-pack:              justify;
            -webkit-justify-content:space-between;
               -moz-box-pack:       justify;
            justify-content:        space-between;
}

.justify-around {
    -ms-flex-pack:                	distribute;
        -webkit-justify-content:    space-around;
            justify-content:        space-around;
}

.justify-evenly {
    -webkit-box-pack:               space-evenly;
        -ms-flex-pack:              space-evenly;
            -webkit-justify-content:space-evenly;
               -moz-box-pack:       space-evenly;
            justify-content:        space-evenly;
}

.justify-end {
    -webkit-box-pack:               end;
        -ms-flex-pack:              end;
            -webkit-justify-content:end;
               -moz-box-pack:       end;
            justify-content:        end;
}

.align-center {
    -webkit-box-align:              center;
        -ms-flex-align:             center;
            -webkit-align-items:    center;
               -moz-box-align:      center;
            align-items:            center;
}