/*
* Prefixed by https://autoprefixer.github.io
* PostCSS: v8.4.14,
* Autoprefixer: v10.4.7
* Browsers: last 8 version
*/

:root {
    --controls-height:              32px;
}

a {
    text-decoration:                none;
}

a:link,
a:visited,
a:focus,
a:active {
    color:                          unset;
}

a.btn-link {
	height: 						var(--controls-height);
	width: 							100%;
	cursor: 						pointer;
	-webkit-box-sizing: 			border-box;
            box-sizing: 			border-box;
	font-size: 						13px;
	text-transform: 				uppercase;
	border: 						1px solid #6c757d;
	background-color: 				#6c757d;
	color: 							white;
	border-radius: 					4px;
	outline: 						none;
    padding:                        0;
    display:                        flex;
    flex-flow:                      row nowrap;
    justify-content:                center;
    align-items:                    center;
}

.btn-link-primary {
    border: 						1px solid #007bff;
	background-color: 				#007bff;
}

/* MARGEN BOTONES CON FONTAWESOME */
a span {
	margin-right: 					10px;
}