#loader {
    position:               absolute;
    height:                 100vh;
    width:                  100%;
    top:                    50%;
    left:                   50%;
    -webkit-transform:      translate(-50%, -50%);
        -ms-transform:      translate(-50%, -50%);
            transform:      translate(-50%, -50%);
    
    display:                flex;
    flex-direction:         column;
    gap:                    10px;
    justify-content:        center;
    align-items:            center;
    z-index:                99999;
}

#loader div {
    background-color:       rgb(50,50,50);
    padding:                5px 20px;
    border-radius:          10px;
    color:                  white;
}

.loader {
    width: 					60px;
    height: 				60px;
    border: 				5px solid rgb(50,50,50);
    border-bottom-color: 	transparent;
    border-radius: 			50%;
    display: 				block;
    box-sizing: 			border-box;
    animation: 				rotation 1s linear infinite;
}

@keyframes rotation {
    0% { transform: rotate(0deg);} 100% {transform: rotate(360deg); }
}