/*
* Prefixed by https://autoprefixer.github.io
* PostCSS: v8.4.14,
* Autoprefixer: v10.4.7
* Browsers: last 8 version
*/

.panel {
	background-color: 			    rgb(250,250,250);
    border:                         1px solid rgb(220,220,220);
    display:                        -webkit-box;
    display:                        -ms-flexbox;
    display:                        flex;
    -webkit-box-orient:             vertical;
    -webkit-box-direction:          normal;
        -ms-flex-direction:         column;
            flex-direction:         column;
    padding:                        10px;
    gap:                            10px;
    border-radius: 				    4px;
}

.panel .panel-title {
    padding:                        10px;
    text-transform:                 uppercase;
    font-weight:                    bold;
    letter-spacing:                 1px;
}

.panel .panel-title.panel-title-higlighted {
    border-radius:                  2px;
    background-color:               rgb(140,140,140);
    color:                          whitesmoke;
}

.panel .panel-title.panel-title-underlined {
    border-bottom:                  1px solid rgb(230,230,230);
}

.panel .panel-content {
    display:                        -webkit-box;
    display:                        -ms-flexbox;
    display:                        flex;
    -webkit-box-orient:             vertical;
    -webkit-box-direction:          normal;
        -ms-flex-direction:         column;
            flex-direction:         column;    
    gap:                            15px;
    -webkit-box-flex:               1;
        -ms-flex:                   1 1;
            flex:                   1 1;
    padding:                        10px;
}

/*=============*/
/* PANEL LOGIN /*
/*=============*/
.login-panel {
    display:                        -webkit-box;
    display:                        -ms-flexbox;
    display:                        flex;
    -webkit-box-orient:             horizontal;
    -webkit-box-direction:          normal;
        -ms-flex-direction:         row;
            flex-direction:         row;
    height:                         550px;
    width:                          100%;
    max-width:                      600px;
    border:                         1px solid rgb(220,220,220);
    border-radius:                  10px;
    margin:                         40px;
    overflow:                       hidden;
    -webkit-box-shadow:             0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
            box-shadow:             0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
}

.login-panel .panel-title,
.login-panel .panel-content {
    padding:                        10px;
}

.login-panel .panel-title {
    -webkit-box-flex:               1;
        -ms-flex:                   1 1;
            flex:                   1 1;
    border-right:                   1px solid rgb(220,220,220);
    color:                          aliceblue;
    text-align:                     center;
    background:                     -webkit-gradient(linear, left top, right top, from(#FF4B2B), to(#FF416C));
    background:                     -o-linear-gradient(left, #FF4B2B, #FF416C);
    background:                     linear-gradient(to right, #FF4B2B, #FF416C);
    display:                        -webkit-box;
    display:                        -ms-flexbox;
    display:                        flex;
    -webkit-box-orient:             vertical;
    -webkit-box-direction:          normal;
        -ms-flex-flow:              column wrap;
            flex-flow:              column wrap;
    -webkit-box-pack:               center;
        -ms-flex-pack:              center;
            justify-content:        center;
    -webkit-box-align:              center;
        -ms-flex-align:             center;
            align-items:            center;
}

.login-panel .panel-content {
    padding:                        20px;
    width:                          300px;
    display:                        -webkit-box;
    display:                        -ms-flexbox;
    display:                        flex;
    -webkit-box-orient:             vertical;
    -webkit-box-direction:          normal;
        -ms-flex-flow:              column nowrap;
            flex-flow:              column nowrap;
    background-color:               rgb(252,252,252);
    -ms-flex-negative:              0;
        flex-shrink:                0;
}

@media (max-width: 480px)
{
    .login-panel {
        max-width:                  calc(100% - 80px);
    }

    .login-panel .panel-content {
        -webkit-box-flex:           1;
            -ms-flex:               1 1;
                flex:               1 1;
    }

    .login-panel .panel-title {
        display:                    none;
    }
}