/*
* Prefixed by https://autoprefixer.github.io
* PostCSS: v8.4.14,
* Autoprefixer: v10.4.7
* Browsers: last 8 version
*/

::-webkit-scrollbar {
	width: 							5px;
	height: 						8px;
	background: 					#aaa;
}

::-webkit-scrollbar-thumb {
	background: 					#000;
}