/*
* Prefixed by https://autoprefixer.github.io
* PostCSS: v8.4.14,
* Autoprefixer: v10.4.7
* Browsers: last 8 version
*/

@import url("/assets/css/framework/normalize.css");
@import url("/assets/css/framework/backToTop.css");
@import url("/assets/css/framework/scrollbar.css");
@import url("/assets/css/framework/preloader.css");

@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Parisienne:wght@400;700&display=swap');

body {
    opacity:                        0;
    font-size:                      0.8125rem;
    font-family:                    'Poppins', sans-serif;
    color:                          white;
    background:                     black;
}

ul, li {
    list-style:                     none;
}

a {
    text-decoration:                none;
    color:                          unset;
    cursor:                         pointer;
}

header .container {
    padding:                        40px;
    text-align:                     right;
}

header .container ul {
    display:                        -webkit-inline-box;
    display:                        -ms-inline-flexbox;
    display:                        inline-flex;
    -webkit-box-orient:             horizontal;
    -webkit-box-direction:          normal;
        -ms-flex-flow:              row wrap;
            flex-flow:              row wrap;
    gap:                            30px;
    margin:                         0;
    padding:                        0;
}

header .container .link {
    display:                        inline-block;
}

header .container .responsive-nav-icon {
    display:                        none;
}

.hero-background {
    background-image:               -webkit-gradient(linear, left top, left bottom, from(rgba(0, 0, 0, 0.8)), to(rgba(0, 0, 0, 0.1))), url("/assets/images/hero-image.jpg");
    background-image:               -o-linear-gradient(rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0.1)), url("/images/hero-image.jpg");
    background-image:               linear-gradient(rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0.1)), url("/images/hero-image.jpg");
    height:                         100vh;
    background-position:            center;
    background-repeat:              no-repeat;
    background-size:                cover;
    position:                       relative;
}

.hero-text {
    width:                          100%;
    text-align:                     center;
    position:                       absolute;
    top:                            50%;
    left:                           50%;
    -webkit-transform:              translate(-50%, -50%);
        -ms-transform:              translate(-50%, -50%);
            transform:              translate(-50%, -50%);
}

.hero-text h1, .hero-text h2 {
    font-weight:                    normal;
    margin:                         0 10px;
}

.hero-text h1 {
    font-family:                    'Parisienne', cursive;
    font-size:                      clamp(4rem, 8vw, 6rem);
    color:                          red;
}

.hero-text h2 {
    margin-bottom:                  40px;
    font-size:                      clamp(1rem, 2vw, 1.5rem);
}

.hero-text a {
    border:                         none;
    outline:                        none;
    display:                        inline-block;
    padding:                        10px 30px;
    color:                          black;
    background-color:               #ddd;
    
    /*SOLO MIENTRAS ESTEN AMBOS BOTONES*/
    margin:                         5px;
}

.hero-text a:hover {
    background-color:               #555;
    color:                          white;
}

#section1,
#section2,
#section3,
#section4 {
    min-height:                     100vh;
    padding:                        50px;
}

#section1 {
    background-color:               red;
}

#section2 {
    background-color:               green;
}

#section3 {
    background-color:               blue;
}

#section4 {
    background-color:               blueviolet;
}

section h3 {
    margin:                         0;
}

@media(max-width: 600px) {
    header .container .responsive-nav-icon {
        display:                    inline-block;
    }
    header .container ul {
        display:                    none;
    }
}